*{
    font-family: 'Exo 2', sans-serif;
}

#site{

    background-color: #283868;
    height: 5em;
}

#cont-type{
    background-color: #AD4E0C;
    height: 3em;
}

#cont-i-d{
    background-color: #BABABA;
    height: 50em;
}

#image{
    height: 20em;
    width: 20em;
}
#description{
    margin-top: 2em !important;
}
